.checkout-button-list-element {
    width: 100%;
    height: 2vw;
    color: black;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(235, 232, 232);
    padding-top: 15px;
    font-size: 0.8vw;
    transition: background-color 0.1s, margin-left 0.2s, color 0.2s;
}

.checkout-button-list-element:hover {
    background-color: rgb(247, 66, 66);
    color: white !important;
    margin-left: 25px;  
}

.checkout-button-list-element-order-name {
    padding-left: 15px;
    font-weight: bold;
}

.checkout-button-list-element-order-price {
    padding-right: 15px;
    font-style: italic;
}

.checkout-button-list-element-order-toppings {
    display: flex;
    width: 30%;
    overflow-x: hidden;
    
}

.checkout-button-list-element-order-size {
   
}
