.checkout-button-list {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.616);
    position: fixed;
    left: 0;
    top: 0;
}

.checkout-button-list:hover { cursor: auto;}

.checkout-button-list-window {
    background-color: white;
    width: 40vw;
    height: 40vh;
    position: absolute;
    border: 1px solid rgb(211, 208, 208);
    right: 30vw;
    top: 25vh;
}

.checkout-button-list-close-btn-container {
    color: black;
    text-align: right;
    font-size: large;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgb(202, 202, 202);
    height: 2vw;
}

.checkout-button-list-close-btn {
    align-self: right;
    padding: 10px 15px;
}

.checkout-button-list-close-btn:hover { cursor: pointer;}

.checkout-button-list-elements {
    height: 25vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.checkout-button-list-elements-table-description {
    width: 100%;
    height: 1.5vw;
    border-bottom: 1px solid rgb(235, 232, 232);
    display: flex;
    justify-content: space-between;
    color: black;
    margin-top: 0.5vw;
    
}

.checkout-button-list-elements-table-description-category {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.cart-empty {
    color: rgb(218, 218, 218);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-style: italic;
}

.checkout-button-list-proceed-button-container {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 4vw;
    transition: opacity 0.1s;
}

.checkout-button-list-proceed-button {
    background-color: rgb(59, 182, 59);
    margin-right: 15px;
    height: 2vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 8px 0px 8px;
    border-radius: 15px;

}

.checkout-button-list-proceed-button:hover {
    background-color: rgb(49, 133, 49);
    cursor: pointer;
    
}