.menu-list-item {
    width: 50vw;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(187, 185, 185);
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.menu-list-item-image {
    min-width: 150px; 
}

.menu-list-item-name {
    font-size: 1.2vw;
    font-weight: bold;
    margin-left: 20px;
}

.menu-item-info-box {
    display: flex;
    width: 43vw;
    justify-content: space-between;
}

.menu-list-item-buybtn {
    height: 2vw;
    font-size: 0.8vw;
    padding: 0px 15px 0px 15px;
    border-radius: 20px;
    background-color: #69c369;
    color: rgb(255, 249, 249);
    font-weight: bold;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;

}

.menu-list-item-buybtn:hover {
    background-color: #5dad5d;
    cursor: pointer;
}

.menu-list-item-buybtn:active {
    background-color: #73d673;
}

.menu-list-item-right-box {
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.menu-list-item-button-toppings {
    width: 30vw;
}

.menu-list-item-custom-options-showbtn {
    text-align: center;
    margin-bottom: 15px;
    user-select: none;
    border-bottom: 1px solid rgb(223, 220, 220);
    transition: all 0.07s;
}

.menu-list-item-custom-options-showbtn:hover {
    background-color: rgb(241, 239, 239);
    /* color: white; */
    cursor:pointer;
}

.menu-list-item-custom-options-helperbox {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.1s, opacity 0.5s;
}

.menu-list-item-custom-options {
    display: flex;
    width: 30vw;
    overflow-y: hidden;
    flex-direction: column;
    height: 100%;

}

.menu-list-item-button-size {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-left: 1px solid rgb(226, 223, 223);
}


.size-button {
    border-bottom: 1px solid rgb(230, 230, 230);
    border-radius: 15px;
    width: 4vw;
    user-select: none;
    text-align: center;
    padding: 5px;
    margin: 2px;
}

.size-button-selected {
    background-color: rgb(100, 207, 109);
    color: white;
    font-weight: bold;
}

.size-button:hover {
    cursor: pointer;
    background-color: rgb(160, 204, 164);
    color: white;
}

.size-list {
    display: flex;
}