.Header {
    height: 10vw;
    width: 60vw;
    border-bottom: 1px solid #c3c1c1;
    align-self: center;
    margin: auto;
    justify-content: space-between;
    display: flex;
}

.logo-header { 
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 2vw;
    font-weight: bold;
    color: rgb(24, 23, 23);
}

.logo-header-img {
    width: 8vw;
}

.header-router {
    display: flex;
    justify-self: right;
    justify-content: right;
    align-items: center;
    user-select: none;
}

.header-checkout {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    color: white;
    user-select: none;
}

.header-checkout-img {
    width: 20px;
    padding-right: 5px;
    user-select: none;
}

.header-checkout:hover {
    background-color: rgb(51, 50, 50);
    cursor: pointer;
}
